/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(78, 78, 78);
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
}

.page-content {
  display: flex;
  width: 60vw;
  height: 75vh;
}

.left-panel {
  display: flex;
  flex-direction: column;
  background-color: rgb(131, 74, 74);
  width: 37.5%;
  height: 100;
  align-items: stretch;
  min-width: 200px;
  min-height: 500px;
  text-align: center;
  justify-content: space-between;
  background-image: url("mountain.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.right-panel {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  width: 62.5%;
  height: 100;
  min-width: 300px;
  min-height: 500px;
}

.submit-container{
  flex: 1;
}

.footer {
  flex: 0 1 auto;
  color: white;
  padding: 5px;
  font-weight: 300;
  font-size: 0.7vw;
}

.project-name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 2em;
  font-size: 2vW;
  background-color: rgba(255, 255, 255, 0.35);
  margin-top: max(20vh, 120px);
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 20px;
  margin-left: 30px;
  flex: 1;
}

.form-element {
  display: flex;
  flex-direction: column;

}

div.form-element input {
  width: 12vw;
  min-width: 220px;
  height: 2vh;
  border-radius: 7px;
  border: 1px solid rgb(211, 198, 161);
  background-color: rgb(250, 239, 224);
}

.form-element input:focus {
  outline-style: none;
  background-color: rgb(247, 239, 231);
  box-shadow: 2px 2px 4px 1px #b1b1b1;
}

div.form-element label {
  font-size: 13px;
  font-stretch: expanded;
  margin-bottom: 5px;
  font-weight: 300;
}

.form-left, .form-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

div.footer > a {
  color: rgb(255, 255, 255);
}

button {
  background-color: rgb(161, 148, 108);
  border: 0;
  height: 50px;
  width: 150px;
  font-size: 25px;
  border-radius: 8px;
}

div.log-in > a {
  color: rgb(139, 126, 84);
  font-weight: 700;
  text-decoration: none;
}

.submit-button {
  margin-left: 30px;
  margin-top: 30px;
}

.log-in {
  margin-top: 10px;
  margin-left: 30px;
}

.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 3px -3px #b1b1b1;
  background-color: rgb(250, 239, 224);
}

.header {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
}

.text1, .text2 {
  font-size: 20px;
  margin-left: 30px;
  margin-right: 40px;
  font-weight: 600;
}

.text1 {
  margin-top: 15vh;
  max-width: 60ch;
}

.text2 {
  margin-top: 15px;
}

i {
  font-style: italic;
  font-weight: 600;
}

div h1 {
  margin-left: 30px;
  margin-top: 70px;
  font-size: 22px;
}